@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import "tailwindcss";

.blue{
    color: #146ef5;
}

.highlight{
    margin: 10px 20px;
    opacity: 50%;
}

.highlight:hover{
    opacity: 100%;
    transition: ease-in 300ms;
}